{% extends "base.html.twig" %}

{% block title %}PikouAnime{% endblock %}

{% block body %}
    <div class="text-center row m-0">
        {% for day in allDays %}
            <div class="col border mt-3 mb-3 p-0">
                <div class="border-bottom bg-light p-1 pt-2">
                    <h3>{{day.dayName}}</h3>
                </div>
                {% for anime in day.animes %}
                <div class="border-bottom">
                    <div class="card border-0 p-2">
                        <img class="card-img-top" src="{{anime.aniImage}}" alt="Card image cap">
                        <div class="card-body p-2">
                            <h5 class="card-title fs-6">
                                <a class="text-decoration-none" href="{{ path('oneAnime', {id: anime.id}) }}" >{{anime.aniName}}</a>
                            </h5>
                            <p class="card-text">{{anime.aniHour|date('H:i')}}<br>épisode {{anime.aniCurrentNB}}/{{anime.aniFullNB}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
